
<!-- Modal -->
<div class="modal fade" id="editTweetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <%=render 'form'%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default close-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>