<%=javascript_include_tag "weapons_index"%>
<div id = "tabs1">
  <!-- show all weapons -->

  <div id="listing-weapons">
  </div>


  <!-- show all supports -->
  <div id="listing-supports">
  </div>
</div>