<%=javascript_include_tag "weapon_form"%>
<%=javascript_include_tag "weapon_window"%>
<%=javascript_include_tag "weapons_index"%>


<div id = "tabs1">
  <!-- show all weapons -->

  <div id="listing-weapons">
  </div>
  <div id="edit-form"> </div>
  <div id="add-form"></div>


  <!-- show all supports -->
  <div id="listing-supports">
  </div>
</div>