<!-- Modal -->
<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"> LOGIN TO ZOMBIE SHOP</h4>
      </div>
      <div class="modal-body">
        <input id="zombieName" class="form-control" placeholder="Name of Zombie" required="" autofocus="">
        <input id="zombiePass" class="form-control" placeholder="Password" required="" type="password">
        <div class="checkbox">
          <label>
            <input value="remember-me" type="checkbox"> Remember me
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button id = "login" class="btn btn-primary btn-block" >Sign in</button>
      </div>
    </div>
  </div>
</div>