<div class="col-md-6 col-md-offset-3">
    
    <h2 class="form-signin-heading text-center">ZOMBIE LOGIN</h2>
    <input id="zombieName" class="form-control" placeholder="Name of Zombie" required="" autofocus="">
    <input id="zombiePass" class="form-control" placeholder="Password" required="" type="password">
    <div class="checkbox">
      <label>
        <input value="remember-me" type="checkbox"> Remember me
      </label>
    </div>
    <button id = "login" class="btn btn-primary btn-block" >Sign in</button>
</div>